.navbar.navbar-dark.navbar-expand-md.fixed-top.bg-dark {
  background-color: #000!important;
  opacity: 0.9;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 20px;
}

body {
  padding-top: 50px;
}

.opening {
  text-align: center;
  padding-top: 50px;
  /*margin-bottom: initial;*/
}

img {
  align-self: center;
}

.row {
  margin-top: 25px;
}

